---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Computer Modern Font CSS

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/fonts/Serif/cmunrm.eot');
	src: url('/assets/fonts/Serif/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Serif/cmunrm.woff') format('woff'),
		 url('/assets/fonts/Serif/cmunrm.ttf') format('truetype'),
		 url('/assets/fonts/Serif/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/fonts/Serif/cmunbx.eot');
	src: url('/assets/fonts/Serif/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Serif/cmunbx.woff') format('woff'),
		 url('/assets/fonts/Serif/cmunbx.ttf') format('truetype'),
		 url('/assets/fonts/Serif/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/fonts/Serif/cmunti.eot');
	src: url('/assets/fonts/Serif/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Serif/cmunti.woff') format('woff'),
		 url('/assets/fonts/Serif/cmunti.ttf') format('truetype'),
		 url('/assets/fonts/Serif/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/fonts/Serif/cmunbi.eot');
	src: url('/assets/fonts/Serif/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Serif/cmunbi.woff') format('woff'),
		 url('/assets/fonts/Serif/cmunbi.ttf') format('truetype'),
		 url('/assets/fonts/Serif/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}

//Code font CSS

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/assets/fonts/Monospace/cmuntt.eot');
	src: url('/assets/fonts/Monospace/cmuntt.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Monospace/cmuntt.woff') format('woff'),
		 url('/assets/fonts/Monospace/cmuntt.ttf') format('truetype'),
		 url('/assets/fonts/Monospace/cmuntt.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/assets/fonts/Monospace/cmuntb.eot');
	src: url('/assets/fonts/Monospace/cmuntb.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Monospace/cmuntb.woff') format('woff'),
		 url('/assets/fonts/Monospace/cmuntb.ttf') format('truetype'),
		 url('/assets/fonts/Monospace/cmuntb.svg#cmuntb') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/assets/fonts/Monospace/cmunit.eot');
	src: url('/assets/fonts/Monospace/cmunit.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Monospace/cmunit.woff') format('woff'),
		 url('/assets/fonts/Monospace/cmunit.ttf') format('truetype'),
		 url('/assets/fonts/Monospace/cmunit.svg#cmunit') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('/assets/fonts/Monospace/cmuntx.eot');
	src: url('/assets/fonts/Monospace/cmuntx.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Monospace/cmuntx.woff') format('woff'),
		 url('/assets/fonts/Monospace/cmuntx.ttf') format('truetype'),
		 url('/assets/fonts/Monospace/cmuntx.svg#cmuntx') format('svg');
	font-weight: bold;
	font-style: italic;
}

//END OF FONTS

$base-font-family: Computer Modern Serif; //Roman Font
$head-font-family: TeX Gyre Heros;			//Grotesque Font
$part-font-family: TeX Gyre Adventura;	//Geometric Font
$code-font-family: Computer Modern Typewriter;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff8e7;
$brand-color:      darken(#828282, 25%);

$head-color:			 #ff6b00;
$head-text-color:	 #ffffff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
