---
layout: page
title: Archive
permalink: /archive/
---

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          <p><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>

            <p><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></p>

          <p class="post-description"> {{post.description}} </p>

          <div class="post-excerpt">
          {{ post.content | split: '<!-- more -->' | first }}
          </div>

          {% if post.comments %}
          <p class="post-meta"><a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a></p>
          {% endif %}


    </li>
      {% endfor %}
  </ul>
