---
layout: page
title: Archive
permalink: /archive/
---

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <header class="post-header">
          <a href="{{post.url}}"><h1 class="post-title">{{ post.title }}</h1></a>

          {% if post.description %}
          <p class="post-description">{{post.description}}</p>
          {% endif %}

          <p class="post-meta"> <i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }} {% if post.author %} <i class="fa fa-pencil"></i> {{ post.author }} {% endif %} {% if post.effort %} <i class="fa fa-clock-o"></i> {{ post.effort }} {% endif %} </p>
        </header>

        <div class="post-excerpt">
          {{ post.content | split: '<!-- more -->' | first }}
        </div>

        {% if post.comments %}
          <p class="post-meta"><a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a></p>
        {% endif %}
    </li>
      {% endfor %}
  </ul>
